//CABBI Color Pallette

$cabbi-dark: #403A48;
$cabbi-brown: #98876E;
$cabbi-grey: #E1DEDA;
$cabbi-orange: #FCB813;
$cabbi-dark-green: #1D7F3D;
$cabbi-green: #3BA459;
$cabbi-dark-green-blue: #1D8476;
$cabbi-green-blue: #25A996;
$cabbi-blue: #82CFD0;
$cabbi-light-blue: #B2E0E5;

